@font-face {
    font-family: "Sf-Rg";
    src: url("/fonts/SF-Pro-Display-Regular.otf");
  }
@font-face {
    font-family: "Sf-Md";
    src: url("/fonts/SF-Pro-Display-Medium.otf");
  }
@font-face {
    font-family: "Sf-Lt";
    src: url("/fonts/SF-Pro-Display-Light.otf");
  }
@font-face {
    font-family: "Sf-Bd";
    src: url("/fonts/SF-Pro-Display-Bold.otf");
  }
@font-face {
    font-family: "Sf-th";
    src: url("/fonts/SF-Pro-Display-Thin.otf");
  }
@font-face {
    font-family: "Sf-SB";
    src: url("/fonts/SF-Pro-Display-Semibold.otf");
  }
@font-face {
    font-family: "Sf-Ui";
    src: url("/fonts/SF-Pro-Display-Ultralight.otf");
  }
